node_modules
dist
dist-ssr
*.local

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Vite
.vite

# Env
.env
.env.local
.env.*.local

# TS build info
*.tsbuildinfo

# Vercel
.vercel
